@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_Rah.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RIah.ttf);
    font-weight: normal;
    font-style: italic;
}
body {
    background-color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* font-family: "Linux Libertine";*/
    font-family: "Source Sans 3";
    font-size: 1.2rem;
    align-items: center;
}

@media (min-width: 30rem) {
    body {
        width: 80%;
    }
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    align-items: center;
}

.project-desc {
    margin-left: 5%;
}

h1.website-name {
    font-family: "Josefin Sans";
    font-weight: 700;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    height: 1.5em;
    /*background-color: skyblue;*/
    background-color: #c9daf8;
    display: flex;
    justify-content: space-between;
}

a:link {
    text-decoration: none;
    /*color: inherit;
    font-style: italic;*/
    font-weight: 500;

}

.author-name {
    font-weight: 600;
}

.publication-venue {
    font-style: italic;
}

.publication-title {
    font-size: 115%;
    font-weight: 700;
}