@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_Rah.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RIah.ttf);
    font-weight: normal;
    font-style: italic;
}
body {
    background-color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    /* font-family: "Linux Libertine";*/
    font-family: "Source Sans 3";
    font-size: 1.2rem;
    align-items: center;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.project-desc {
    margin-left: 5%;
}

h1.website-name {
    font-family: "Josefin Sans";
    font-weight: 700;
    margin: 0;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
    min-height: 30px;
    background-color: #c9daf8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    /*color: inherit;
    font-style: italic;*/
    font-weight: 500;

}

.author-name {
    font-weight: 600;
}

.publication-venue {
    font-style: italic;
}

.publication-title {
    font-size: 115%;
    font-weight: 700;
}