@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_Rah.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RIah.ttf);
    font-weight: normal;
    font-style: italic;
}
body {
    background-color: #fffff8;
    margin-left: auto;
    margin-right: auto;
    font-family: "Linux Libertine";
    font-size: 1.2rem;
}

@media (min-width: 30rem) {
    body {
        width: 80%;
    }
}

img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

.project-desc {
    margin-left: 5%;
}

h1 {
    display: inline;
}

#links {
    float: right;
    font-size: 1.1em;
    margin-top: 10px;
    /* margin-right: 10px; */
}

a:link {
    /* text-decoration: none; */
    color: inherit;
    font-style: italic;

}

a:visited {
    color: inherit;
}

a.no-italics {
    font-style: normal;
}